<launch>
	<param name="use_sim_time" value="true"/>

	<!--node pkg="tf" type="static_transform_publisher" name="t265_broadcaster" args="-0.0388133 -0.0619189 -0.0437621 0 0 -0.8509035 0.525322 map camera_odom_frame 10" /-->

	<node pkg="rosbag" type="play" name="rosbag" args="--clock -l /home/zhiang/catkin_ws/gps_vio_gazebo.bag">
		<remap from="/mavros/global_position/local" to="/gps/odom"/>
	</node>

	<node name="calib_ros_node" pkg="gps_vio" type="ransac_calib.py" output="screen">
		<!--remap from="/vio/odom" to="/mavros/odometry/in"/-->
	</node>

	<node pkg="rviz" type="rviz" name="rviz" output="screen"/>

</launch>
